<div ng-controller="listController">

    <div class="panel">
        <div class="row columns small-centered small-6 ">
            <div class="text-center">
                <input id="filter" ng-model="query">
            </div>
        </div>
        <div class="row columns small-centered small-6 ">
            Sort by:
            <select ng-model="order">
                <option value="rank">rank</option>
                <option value="title">title</option>
            </select>
        </div>
        <div class="row columns small-centered small-6 ">

        <label>
            Ascending<input type="radio" ng-model="q" ng-value="false">
            Descending<input type="radio" ng-model="q" ng-value="true">
        </label>
            </div>
    </div>
    <div class="content">
            <div class="row " id="listBox" ng-repeat="movie in movies | filter:query | orderBy:order:q">
                    <div class="small-4 columns  ">
                        <img  ng-src="/data/images/{{movie.imdbID}}.jpg">
                    </div>
                    <div class="small-4 columns  ">
                        <a class="title" href="#/details/{{movie.rank}}">{{movie.title}}</a>
                        <p class="rank">Rank: {{movie.rank}}</p>
                    </div >
                    <div class= "small-4 colunms end"></div>
            </div>
    </div>


</div>


